<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/detalle.css">
    <title></title>

  </head>
  <body>

    <!-- Header-->
<%- include('partials/header') %> 

<div class="paquete">
<div class="titulo">
  <h1>Movie Title </h1><a href="" class="estrellita" uk-icon="star"></a>
  <p class="generoDetalle">  </p>
</div>

<div class="contenedorPadre2">
  <div class="posterPeli">

  </div>
  <div class="infoDePeli">

  </div>
</div>

<ul uk-accordion>

  <li id="scroll">
          <a class="uk-accordion-title" href="#">INFORMATION</a>
          <div class="uk-accordion-content">
            <p class="lenguaje">
            Language </p>
            <p class="sipnopsis">
            Sipnopsis</p>
            <p class="fecha">
             Date </p>

          </div>
    <li class="">
        <a class="uk-accordion-title" href="#">RECOMMENDATIONS</a>
        <div class="uk-accordion-content">
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

              <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid-small contenedor-recomendados">


               </ul>

              <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

          </div>


        </div>
    </li>
</ul>
<div class="uk-container uk-container-small uk-card uk-card-secondary">
  <form action="/detalle/review/<%= dato %>"  method="POST">
    <div class="uk-margin">
      <label for="resena" class="uk-form-width-medium uk-label uk-margin-top">Email</label>
      <% if (error) { %>
        <p class="uk-text-danger">Incorrect user or password</p>
        <input type="text" id="resena" class="uk-input uk-form-danger uk-form-width-large uk-margin-small" placeholder="ragnar@vikings.com" name="email">
      <% } else { %>
        <input type="text" id="resena" class="uk-textarea uk-form-width-large uk-margin-small" placeholder="ragnar@vikings.com" name="email">
      <% } %>
          
      </div>
      <div class="uk-margin">
        <label for="password" class="uk-form-width-medium uk-label uk-margin-top">Password</label>
        <input type="password" id="password" class="uk-textarea uk-form-width-large uk-margin-small" placeholder="password..." name="password">
      </div>
      <div class="uk-margin">
        <label for="resena" class="uk-form-width-medium uk-label uk-margin-top">Leave a comment</label>
        <!-- <input type="text" id="resena" class="uk-textarea uk-form-width-large uk-margin-small" placeholder="Here..." name="resena"> -->
        <textarea name="resena" class="uk-textarea" id="resena" cols="30" rows="5" placeholder="Here..."></textarea>
      </div>
      <div class="uk-margin">
        <label for="resena" class="uk-form-width-medium uk-label uk-margin-bottom">Score:</label>
        <input type="range" id="points" name="puntaje" class="uk-range" min="0" max="9"  onchange="updateValue(this.value)">
        <p id="valorRange" class="uk-text-secondary">5</p>
      </div>
      <button type="submit" class="uk-button uk-button">Post</button>
    </form>
</div>

<div class="uk-section">
  <h3 class="uk-text-center">Other reviews</h3>
  <div class="uk-container uk-flex uk-flex-column uk-flex-middle uk-child-width-2-3 uk-background-secondary uk-padding">

    
    <% for( let i = 0; i < resenas.length; i++ ) { %>
      <div class="uk-card uk-card-large uk-card-default uk-card-body uk-margin-bottom">
        <div class="uk-card-badge uk-label"> Score: <%= resenas[i].puntaje %> </div>
        <h4 class="uk-card-title uk-margin-top"> User: <%= resenas[i].usuario.name %>  </h4>
        <p> <%= resenas[i].resena %>  </p>
      </div>
    <% } %>
      <div id="lastReview"></div>
 
   
  </div>
</div>
  
</div>

<!-- Footer-->
<%- include('partials/footer') %>


  
    <script rel="stylesheet" src="/javascripts/detalle.js"></script>
    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>
    <script src="/javascripts/uikit-icons.js"></script>
    <script src="/javascripts/uikit.js"></script>

    <script>
      function updateValue(val) {
        document.querySelector('#valorRange').innerHTML = val
      }
    </script>
  </body>
</html>
