<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/uikit.min.css" />
    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>
    <script src="/javascripts/uikit-icons.js"></script>
    <script src="/javascripts/uikit.js"></script>
    <link rel="stylesheet" href="/stylesheets/favoritos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
  </head>
  <body>

    <!-- Header-->
<%- include('partials/header') %> 

        <div  class="uk-container " >
          <div class="uk-section uk-section-large ">

            
            <% if (resultado.length == 0) { %>
              <h1>You havent made any reviews yet....</h1>

              <% } else { %>
                <h1 class="uk-text-center"> <%= resultado[0].usuario.name %>'s reviews </h1>
                

                
                <% for( let i = 0; i < resultado.length; i++ ) { %>
                  <div class="uk-card uk-card-secondary uk-margin ">
                    <div class="uk-card-badge uk-label uk-margin-bottom" style="color: white;"> Score: <%= resultado[i].puntaje %> </div>
                    <div class="uk-card-body ">
                      <h4 class="uk-margin-top"><%= resultado[i].resena %></h4>
                    </div>
                    <div class="uk-card-footer uk-flex uk-flex-between">
                      <a class="uk-text-success" href="/users/reviews/edit/<%= resultado[i].id %>">Edit</a>
                      <a class="uk-text-primary" href="/detalle?idPelicula=<%= resultado[i].pelicula_id %> "> Go to movie</a>
                      <a class="uk-text-danger" href="/users/reviews/delete/<%= resultado[i].id %>">Delete</a>
                    </div>
                  </div>
                  <% } %>
                  
              <% } %>


          </div>
        </div>


    <!-- Footer-->

<%- include('partials/footer') %>


    <!-- Footer-->

    <script src="/javascripts/uikit.min.js"></script>
    <script src="/javascripts/uikit-icons.min.js"></script>
    <script src="/javascripts/uikit-icons.js"></script>
    <script src="/javascripts/uikit.js"></script>
      
  </body>
</html>
